- if user_signed_in?
<<<<<<< HEAD
  = form_for([@movie, @rating], html: { class: 'form-inline rating_ballot' }) do |f|
    - Rating::RATINGS.each do |r|
      = f.label("value_#{r}", content_tag(:span, r), {class: "rating", id: r})
      = radio_button_tag("rating[value]", r, @rating.value == r, class: 'rating_button')
=======
  = form_for([@movie, @rating], html: { class: 'form-inline' }) do |f|
    - Rating::RATINGS.each do |r|
      = f.label :value, r, value: r
      = f.radio_button :value, r
>>>>>>> 81f09d6d55ab6e54b656957dca71e3f5563d4284

    = f.submit 'Save', class: 'btn btn-mini'
